body{
    background-image: url(./img/comida.webp);
}
h1{
    color: white;
}
img{
    width: 400px    ;
}
.divClass{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#thirtDiv{
    height: 600px;
    width: 500px;
    background-color: transparent;
    padding: 50px;
    border: 10px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#spanID{
    font-size: 28px;
    margin: 50px;
}